.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    width: 90%;
}

@media all and (min-width: 320px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-cards {
    display: flex;
    padding-left: 5px;
    position: inherit;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
}

.pic-round {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    border: 4px solid rgb(48, 160, 188);
    height: 90%;
    width: 90%;
}

#main-header {
    background: rgb(255, 255, 255);
    color: white;
    height: 80px;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    /* Hacemos que la cabecera tenga una posición fija */
}

.img_round {
    width: 57px;
    border-radius: 87%;
    /*padding: 2px;*/
    border: rgb(48, 160, 188) 4px solid;
    margin: 3px;
}

.img_modal {
    width: 73px;
    margin: 3px;
    padding: 2%;
}

#navegador ul {
    list-style-type: none;
    text-align: center;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: #333333;
    color: #ffffff;
}

.cfooter {
    color: #FFF;
    position: bottom;
    /*El div será ubicado con relación a la pantalla*/
    left: 0px;
    /*A la derecha deje un espacio de 0px*/
    right: 0px;
    /*A la izquierda deje un espacio de 0px*/
    bottom: 0px;
    /*Abajo deje un espacio de 0px*/
    height: 50px;
    /*alto del div*/
    z-index: 0;
    align-items: center;
}

.img_table {
    width: 160px;
    height: 130px;
    margin-top: 0;
    border-radius: 20px;
}

.codigo_art {
    font-size: 10px;
    padding-bottom: 0%;
    font-family: serif;
}

.descripcion_art {
    font-size: 12px;
    /*position: absolute;*/
    font-family: roboto;
    margin-left: 7%;
}

.cont_art {
    position: relative;
    text-align: center;
    width: 50%;
}

.precio_art {
    font-size: 10px;
    position: absolute;
    color: white;
    background: rgb(48, 160, 188);
    margin-left: 70%;
    margin-top: 0%;
    padding: 2%;
}

.add_cart {
    width: 18px;
    float: right;
    margin-right: 1px;
    margin-top: -5px;
}

.img_vertical_table {
    width: 124px;
    height: 248px;
}

#Componente_8__2 {
    position: absolute;
    width: 377px;
    height: 338px;
    left: -3px;
    top: 166px;
    overflow: visible;
}

.myWickedClass {
    padding: 0 5px 0 0;
    background: #ffffff url(../img/roundedCorner_right.png) top right no-repeat scroll;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 11px Verdana, Helvetica, sans-serif;
    color: #A4A4A4;
    border: black;
}

.myWickedClass>.myCoolItem:first-child {
    padding-left: 6px;
    background: #ffffff url(../img/roundedCorner_left.png) 0px 0px no-repeat scroll;
}

.myWickedClass>.myCoolItem {
    padding-right: 5px;
}

#sugerencias {
    height: 35px;
    position: relative;
    margin: 0px -65px;
    width: 35px;
    top: 0%;
    left: 60%;
    border-radius: 80%;
    background-color: rgba(50, 162, 194, 1);
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 800px;
}

.centerTable {
    width: 96%;
    font-size: 8px;
    overflow: auto;
    margin: 0 1.5% 1.5% 1.5%;
    text-align: center;
}

div.centerTable table {
    margin: 0 auto;
    text-align: left;
}

h6 {
    font-family: serif;
}

.reproducirModal {
    padding-left: 32%;
    padding-top: 80%;
}

.banner_table {
    width: 372px;
    height: 124px;
}

.menu_icons {
    width: 35px;
    text-align: center;
}

.img_category {
    width: 123px;
    height: 113px;
    margin-top: 0px;
}

.descripcion_cat {
    display: inline-block;
    margin-bottom: 1rem;
    font-family: roboto;
    font-size: 12px;
}

.cont_cat {
    position: relative;
    text-align: center;
    width: 120px;
    height: 130px;
}

.footer {
    text-align: left;
}

.footer_art {
    text-align: left;
    width: 123px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgb(48, 160, 188);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.5s linear infinite;
    /* Safari */
    animation: spin 1.5s linear infinite;
    margin-top: 50%;
    margin-left: 42%;
    display: none;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#footer {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}

#footer_b {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}